
#create 
{ 
  /* position: fixed; */
  padding: 2%;
  background-image: url(./blog.jpg);
  margin-right: 2%;
  margin-top: 0%;
  float: right;
width: 40%;
height: 400px;

}

#create #css{

  width: 50%;
  height: 100PX;
}
#create #csss{
  width:auto;
  height: 30px;
}
button{
  height: 30px;
  color:brown;
}
#btn{
  margin: 5%;
  text-align: center;
  width :90px;
  height: 30px;
}
#btnn1{
  float: left;
  margin: 2%;
  width: 50px;
  height: 50px;
  font-size: 40px;
}
.register{
  float: right;
  margin: 5%;
}
.Main{
  margin: 2%;
 margin-left: 15%;
}
.Main p

{
  margin-left: 2%;
  text-align: center;
  display: flex;
  width: 300px;
background-color: salmon;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color:white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navigation
{
position: fixed;
width: 0px;
height: 100%;
background: #3e0748;
transition: 0.5s ease;
overflow:scroll;
}
.navigation .hover
{ 
width: 200px;
}
.navigation ul
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

}
.navigation ul li
{
    position: relative;
    width: 100%;
    list-style: none;

}

.navigation ul li a
{
    position:relative;
    /* display:black; */
    width:100%;
    display: flex;
    text-decoration: none;
    color:white;
    text-align: center;
}
.navigation ul li:hover
{
  
    background: #f52c6fe0;
}
.navigation ul li a i
{
    position: relative;
    /* display: black; */
    min-width: 60px;
    height: 70px;
    line-height: 70px;
}
    #menu {
      /* float: left; */
        columns: 2 ;
      height: auto;
      background-color: blanchedalmond;
    }
    .navigation ul li 
{
    position: relative;
    /* display: black; */
    min-width: 60px;
    height: 70px;
    line-height: 70px;
     margin-left: 4%; 
 }
